<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znty.sirm.mapper.ForbiddenPoolQueryMapper">
    <!-- 禁投池查询 mapper，对应表：ip_pool_status（证券池状态），过滤 pool_type='forbidden' 提供禁投池分页查询及证券类型选项查询功能 -->

    <!-- 分页查询禁投池证券列表 -->
    <select id="queryForbiddenPoolPage" resultType="com.znty.sirm.model.ForbiddenPoolQueryDto">
        SELECT ips.id
               ,ips.security_code
               ,ips.security_short_name
               ,ips.adjuster_name
               ,ips.entry_time
               ,CASE WHEN pp.pool_name IS NOT NULL
                     THEN CONCAT(pp.pool_name, '/', p.pool_name)
                     ELSE p.pool_name
                END AS target_pool_name
               ,ips.security_type
               ,dst.security_type_name
               ,bi.info_issuer AS issuer
               ,bi.info_maturitydate AS maturityDate
               ,bi.info_delistdate AS delistDate
               ,bi.info_repurchasedate AS repurchaseDate
        FROM ip_pool_status ips
        INNER JOIN ip_investment_pool p ON p.id = ips.target_pool_id
                                       AND p.is_deleted = 0
                                       AND p.pool_type = 'forbidden'
        LEFT JOIN ip_investment_pool pp ON p.parent_id = pp.id
        LEFT JOIN sirm_securityinfo bi ON bi.wind_code = ips.security_code
        LEFT JOIN dict_security_type dst ON dst.security_type = ips.security_type AND dst.is_deleted = 0
        <where>
            ips.is_deleted = 0
            <if test="securityCode != null and securityCode != ''">
                AND ips.security_code LIKE CONCAT('%', #{securityCode}, '%')
            </if>
            <if test="securityType != null and securityType != ''">
                AND ips.security_type = #{securityType}
            </if>
            <if test="securityStatus == '存续'">
                AND (bi.info_maturitydate IS NULL OR bi.info_maturitydate &gt;= CURDATE())
            </if>
            <if test="securityStatus == '到期'">
                AND bi.info_maturitydate IS NOT NULL
                AND bi.info_maturitydate &lt; CURDATE()
            </if>
            <if test="adjustTimeStart != null and adjustTimeStart != ''">
                AND ips.submit_time &gt;= #{adjustTimeStart}
            </if>
            <if test="adjustTimeEnd != null and adjustTimeEnd != ''">
                AND ips.submit_time &lt;= CONCAT(#{adjustTimeEnd}, ' 23:59:59')
            </if>
            <if test="adjusterName != null and adjusterName != ''">
                AND ips.adjuster_name LIKE CONCAT('%', #{adjusterName}, '%')
            </if>
            <if test="issuer != null and issuer != ''">
                AND bi.info_issuer LIKE CONCAT('%', #{issuer}, '%')
            </if>
            <if test="auditStatus != null and auditStatus != ''">
                AND ips.audit_status = #{auditStatus}
            </if>
        </where>
        ORDER BY ips.entry_time DESC
                 ,ips.id DESC
    </select>

    <!-- 查询禁投池中出现的证券类型选项 -->
    <select id="querySecurityTypeList" resultType="com.znty.sirm.model.SecurityTypeOptionDto">
        SELECT DISTINCT ips.security_type
                       ,dst.security_type_name
        FROM ip_pool_status ips
        INNER JOIN ip_investment_pool p ON p.id = ips.target_pool_id
                                       AND p.is_deleted = 0
                                       AND p.pool_type = 'forbidden'
        LEFT JOIN dict_security_type dst ON dst.security_type = ips.security_type AND dst.is_deleted = 0
        WHERE ips.is_deleted = 0
          AND ips.security_type IS NOT NULL
        ORDER BY dst.sort_order ASC
                 ,ips.security_type ASC
    </select>

</mapper>
