<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znty.sirm.mapper.SecurityPoolQueryMapper">
    <!-- 证券池查询 mapper，对应表：ip_pool_status（证券池状态），提供证券池分页查询及证券类型选项查询功能 -->

    <!-- 分页查询证券池中的证券列表 -->
    <select id="querySecurityPoolPage" resultType="com.znty.sirm.model.SecurityPoolQueryDto">
        SELECT ips.id
               ,ips.security_code
               ,ips.security_short_name
               ,ips.adjuster_name
               ,ips.entry_time
               ,ips.target_pool_id
               ,p.pool_name AS target_pool_name
               ,ips.security_type
               ,dst.security_type_name
               ,mbp.id AS mySecurityPoolId
               ,bi.coupon_rate AS couponRate
               ,bi.issuer
               ,bi.full_name
               ,bi.firstissue_date AS issueDate
               ,bi.carry_date
               ,bi.maturity_date
               ,CASE
                    WHEN bi.maturity_date IS NULL OR bi.maturity_date = '' THEN NULL
                    WHEN bi.maturity_date &gt;= CURDATE() THEN 'active'
                    ELSE 'matured'
                END AS securityStatus
               ,bi.delist_date
               ,bi.repurchase_date
        FROM ip_pool_status ips
        LEFT JOIN ip_investment_pool p ON ips.target_pool_id = p.id
        LEFT JOIN sirm_securityinfo bi ON ips.security_code = bi.wind_code
        LEFT JOIN dict_security_type dst ON dst.security_type = ips.security_type AND dst.is_deleted = 0
        LEFT JOIN my_security_pool mbp
            ON ips.security_code = mbp.security_code
            AND mbp.user_id = #{currentUserId}
            AND mbp.status = 'use'
        <where>
            ips.is_deleted = 0
            AND ips.audit_status = '20'
            <if test="securityStatus == 'active'">
                AND bi.maturity_date &gt;= CURDATE()
            </if>
            <if test="securityStatus == 'matured'">
                AND bi.maturity_date &lt; CURDATE()
            </if>
            <if test="poolIds != null and poolIds.size() > 0">
                AND ips.target_pool_id IN
                <foreach collection="poolIds" item="pid" open="(" separator="," close=")">
                    #{pid}
                </foreach>
            </if>
            <if test="securityCode != null and securityCode != ''">
                AND ips.security_code LIKE CONCAT('%', #{securityCode}, '%')
            </if>
            <if test="securityType != null and securityType != ''">
                AND ips.security_type = #{securityType}
            </if>
            <if test="entryTimeStart != null and entryTimeStart != ''">
                AND ips.entry_time &gt;= #{entryTimeStart}
            </if>
            <if test="entryTimeEnd != null and entryTimeEnd != ''">
                AND ips.entry_time &lt;= #{entryTimeEnd}
            </if>
            <if test="adjusterName != null and adjusterName != ''">
                AND ips.adjuster_name LIKE CONCAT('%', #{adjusterName}, '%')
            </if>
            <if test="issuer != null and issuer != ''">
                AND bi.issuer LIKE CONCAT('%', #{issuer}, '%')
            </if>
            <if test="mySecurities != null and mySecurities == true">
                AND mbp.id IS NOT NULL
            </if>
        </where>
        ORDER BY ips.entry_time DESC
                 ,ips.id DESC
    </select>

    <!-- 查询证券池中出现的证券类型选项 -->
    <select id="querySecurityTypeList" resultType="com.znty.sirm.model.SecurityTypeOptionDto">
        SELECT DISTINCT ips.security_type
                       ,dst.security_type_name
        FROM ip_pool_status ips
        LEFT JOIN dict_security_type dst ON dst.security_type = ips.security_type AND dst.is_deleted = 0
        WHERE ips.is_deleted = 0
          AND ips.audit_status = '20'
          AND ips.security_type IS NOT NULL
        ORDER BY dst.sort_order ASC
                 ,ips.security_type ASC
    </select>

</mapper>
