<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.znty.rrs.mapper.StockPoolAdjustHistoryMapper">
    <!-- 直接查询提交时留痕，不用实时行业或名称覆盖历史。 -->
    <select id="queryStockPoolAdjustHistoryPage" resultType="com.znty.rrs.entity.stockpooladjusthistory.StockPoolAdjustHistoryDto">
        SELECT al.id
            ,al.stock_code
            ,al.stock_name
            ,al.stock_short_name
            ,al.industry_code
            ,al.industry_name
            ,al.latest_rating
            ,al.previous_rating
            ,al.adjust_type
            ,al.adjust_mode
            ,al.target_pool_id
            ,p.pool_name target_pool_path
            ,al.adjust_batch_no
            ,al.audit_status
            ,al.adjuster_name
            ,al.submit_time
        FROM ip_adjust_log_stock al
        LEFT JOIN ip_investment_pool p ON p.id = al.target_pool_id AND p.is_deleted = 0
        WHERE al.is_deleted = 0
        <if test="poolIds != null and poolIds.size() > 0">
            AND al.target_pool_id IN
            <foreach collection="poolIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        <if test="stockCode != null and stockCode != ''">
            AND al.stock_code LIKE CONCAT('%', #{stockCode}, '%')
        </if>
        <if test="adjustTimeStart != null and adjustTimeStart != ''">
            AND al.submit_time &gt;= #{adjustTimeStart}
        </if>
        <if test="adjustTimeEndExclusive != null">
            AND al.submit_time &lt; #{adjustTimeEndExclusive}
        </if>
        <if test="industryCode != null and industryCode != ''">
            AND al.industry_code = #{industryCode}
        </if>
        <if test="adjusterName != null and adjusterName != ''">
            AND al.adjuster_name LIKE CONCAT('%', #{adjusterName}, '%')
        </if>
        <if test="adjustMode != null and adjustMode != ''">
            AND al.adjust_mode = #{adjustMode}
        </if>
        <if test="auditStatus != null and auditStatus != ''">
            AND al.audit_status = #{auditStatus}
        </if>
        ORDER BY al.submit_time DESC
                 ,al.adjust_batch_no DESC
                 ,al.id DESC
    </select>
    <!-- 行业选项来自全部有效调整历史中的提交时行业。 -->
    <select id="queryIndustryList" resultType="com.znty.rrs.entity.stockpooladjusthistory.StockIndustryOptionDto">
        SELECT DISTINCT industry_code
            ,industry_name
        FROM ip_adjust_log_stock
        WHERE is_deleted = 0
          AND industry_code IS NOT NULL
          AND industry_code != ''
        ORDER BY industry_code
                 ,industry_name
    </select>
</mapper>
